<h3 class='incident-display__title'>{{incident.city}}, {{incident.state}} - {{incident.numInvolved}} - {{incident.formattedDate}}</h3>
{{#if incident.numInvolved}}
  <ul class='incident-display__icon-list'>
    {{#if incident.numInjured}}
      {{#each (range 1 incident.numInjured)}}
        {{gun-icon color='black'}}
      {{/each}}
    {{/if}}

    {{#if incident.numKilled}}
      {{#each (range 1 incident.numKilled)}}
        {{gun-icon color='red'}}
      {{/each}}
    {{/if}}
  </ul>
{{/if}}

